<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a
            class="waves-effect waves-dark"
            [routerLink]="['/dash-board']"
            aria-expanded="false"
          >
          <i class="fa-solid fa-align-left"></i>
            <span class="hide-menu">Dashboard</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            [routerLink]="['/profile']"
            aria-expanded="false"
            ><i class="fad fa-id-card"></i
            ><span class="hide-menu">Profile</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            [routerLink]="['/list-task']"
            aria-expanded="false"
            ><i class="fa fa-table"></i
            ><span class="hide-menu">Quản lý công việc</span></a
          >
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            [routerLink]="['/du-an']"
            aria-expanded="false"
            >
            <i class="fa-solid fa-list-check"></i>
            <span class="hide-menu">Quản lý project</span></a>
        </li>
        <li>
          <a
            class="waves-effect waves-dark"
            [routerLink]="['/member']"
            aria-expanded="false"
            ><i class="fa-solid fa-users"></i><span class="hide-menu">Quản lý thành viên</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
