.btn-google{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color linear 0.5s;
    background-color: red;
}
.btn-google h3{
    color: white;
    transition: color linear 0.5s;
}
.btn-google:hover{
    background-color: white;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.btn-google:hover h3{
    color: black;
}
.btn-google i{
    font-size: 30px;
    color: white;
    transition: color linear 0.5s;
}
.btn-google:hover i{
    color: black;
}

.btn-fb{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color linear 0.5s;
    background-color: blue;
}
.btn-fb h3{
    color: white;
    transition: color linear 0.5s;
}
.btn-fb:hover{
    background-color: white;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.btn-fb:hover h3{
    color: black;
}
.btn-fb i{
    font-size: 30px;
    color: white;
    transition: color linear 0.5s;
}
.btn-fb:hover i{
    color: black;
}