

<div style="position: fixed;
    z-index: 50;
    width: 100%;">
        <app-navbar-top></app-navbar-top>
    </div>
    <div style="position: fixed; top: 0; left: 0; bottom: 0;">
        <app-navbar-left></app-navbar-left>
    </div>
    <div class="page-wrapper" style="padding-top: 100px;">
        <div class="container">
            <h3 class="text-center">Chi tiết dự án</h3>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên dự án</th>
                        <th></th>
                        <th>Tên dự án</th>
                        <th>Tên dự án</th>
                        <th>Tên dự án</th>
                        <th>Tên dự án</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>