<div style="position: fixed;
    z-index: 50;
    width: 100%;">
        <app-navbar-top></app-navbar-top>
    </div>
    <div style="position: fixed; top: 0; left: 0; bottom: 0;">
        <app-navbar-left></app-navbar-left>
    </div>
    <div class="page-wrapper" style="padding-top: 100px;">
      <a [routerLink]="['/create-task']"
      ><button type="button" class="btn btn-outline-primary ms-4">
        Thêm công việc
      </button></a
    >
    
    <div class="" *ngIf="loading">
      <app-loading></app-loading>
    </div>
    <table class="table table-hover" *ngIf="!loading && listTask.length > 0">
      <thead>
        <tr>
          <th class="text-center">STT</th>
          <th class="text-center">Tên cv</th>
          <th class="text-center">Mô tả</th>
          <th class="text-center">Ngày bắt đầu</th>
          <th class="text-center">Tên Project</th>
          <th class="text-center">Người thực hiện</th>
          <th class="text-center">Người theo dõi</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listTask; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ item.nameTask }}</td>
          <td class="text-center">{{ item.desc }}</td>
          <td class="text-center">{{ item.timeStart | date: "d/M/y" }}</td>
          <td class="text-center">{{ item.projectId.projectName }}</td>
          <td style="height: 100%">
            <div
              class="text-center d-flex align-items-center justify-content-center"
            >
              <img
                width="20"
                height="20"
                class="rounded-circle"
                [src]="item.watcher[0].userId.avatar"
                alt=""
              />
              <p class="m-0 ms-2 text-capitalize">
                {{ item.watcher[0].userId.name }}
              </p>
            </div>
          </td>
          <td>
            <div *ngFor="let item of item.watcher; let i = index">
              <div
                class="text-center d-flex align-items-center mb-2"
                *ngIf="i > 0"
              >
                <img
                  width="20"
                  height="20"
                  class="rounded-circle"
                  [src]="item.userId.avatar"
                  alt=""
                />
                <p class="m-0 ms-2 text-capitalize">
                  {{ item.userId.name }}
                </p>
              </div>
            </div>
          </td>
          <td class="text-center">
            <a [routerLink]="['/edit-task', item._id]"
              ><button type="button" class="btn btn-outline-primary">Sửa</button></a
            >
            <button type="button" (click)="remove(item._id)" class="btn btn-outline-danger ms-2">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>


