<div style="position: fixed;
    z-index: 50;
    width: 100%;">
        <app-navbar-top></app-navbar-top>
    </div>
    <div style="position: fixed; top: 0; left: 0; bottom: 0;">
        <app-navbar-left></app-navbar-left>
    </div>
    <div class="page-wrapper" style="padding-top: 100px;">
      <div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Dashboard</h3>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a [routerLink]="['/du-an']" class="card">
                <div class="card-body">
                  <h5 class="card-title">Số lượng dự án</h5>
                  <p class="card-text">{{listTask.length}} dự án</p>
                </div>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tổng tiền dự án</h5>
                  <p class="card-text">{{ totalProject | currency: "VND" }}</p>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a [routerLink]="['/member']" class="card">
                <div class="card-body">
                  <h5 class="card-title">Số lượng thành viên</h5>
                  <p class="card-text">{{listUser.length}} thành viên</p>
                </div>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a [routerLink]="['/list-task']" class="card">
                <div class="card-body">
                  <h5 class="card-title">Tổng số task đã giao</h5>
                  <p class="card-text">{{listTask.length}} công việc</p>
                </div>
              </a>
            </div>
          </div>
          
          <div class="row">
            <!-- Column -->
            <div class="col-lg-8 d-flex align-items-stretch">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-flex">
                    <div>
                      <h5 class="card-title">Tổng quan công việc</h5>
                    </div>
                  </div>
                  <div class="table-responsive mt-3 no-wrap">
                    <table class="table vm no-th-brd pro-of-month">
                      <thead>
                        <tr>
                          <th colspan="2">Người thực hiện</th>
                          <th>Tên công việc</th>
                          <th>Tên dự án</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listTask">
                          <td style="width: 50px"><span class="round"><img width="100%" [src]="item.watcher[0].userId.avatar" alt=""></span></td>
                          <td>
                            <h3 class="m-0">{{item.watcher[0].userId.name}}</h3>
                            <small class="text-muted">{{item.watcher[0].userId.email}}</small>
                          </td>
                          <td>{{item.nameTask}}</td>
                          <td>{{item.projectId.projectName}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="card w-100">
                <div
                  class="up-img"
                  style="background-image: url(../assets/images/big/img1.jpg)"
                ></div>
                <div class="card-body">
                  <h5 class="card-title">Business development of rules</h5>
                  <span class="label label-info label-rounded">Technology</span>
                  <p class="mb-0 mt-3">
                    Titudin venenatis ipsum aciat. Vestibu ullamer quam. nenatis ipsum
                    ac feugiat. Ibulum ullamcorper.
                  </p>
                  <div class="d-flex mt-3">
                    <a class="link" href="javascript:void(0)">Read more</a>
                    <div class="ms-auto align-self-center">
                      <a href="javascript:void(0)" class="link me-2"
                        ><i class="fa fa-heart-o"></i
                      ></a>
                      <a href="javascript:void(0)" class="link me-2"
                        ><i class="fa fa-share-alt"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Projects of the Month -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Notification And Feeds -->
          <!-- ============================================================== -->
         
          <!-- ============================================================== -->
          <!-- End Notification And Feeds -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- End Page Content -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
          © 2021 Adminwrap by <a href="https://www.wrappixel.com/">wrappixel.com</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
    </div>

