
<div class="container">
  <h3 class="my-3 text-center">Tạo dự án</h3>
  <form #project="ngForm" (ngSubmit)="submitAddTaskForm(project)" novalidate>
      <div class="col-6 offset-3">
          <div class="form-group mt-3">
              <label for="">Tên công việc</label>
              <input type="text" ngModel name="taskName" class="form-control" #taskName="ngModel" >
              <span class="text-danger" *ngIf="taskName?.invalid && (taskName?.dirty || taskName?.touched)">Tên không hợp lệ</span>
          </div>
          <div class="form-group mt-3">
              <label for="">Ngày bắt đầu</label>
              <input type="date" name="startDate" ngModel class="form-control" #startDate="ngModel" >
              <span class="text-danger" *ngIf="startDate?.invalid">Bạn phải nhập ngày bắt đầu</span>
          </div>
          <div class="form-group mt-3">
              <label for="">Project Money</label>
              <input type="number" name="project_money" ngModel class="form-control" #project_money="ngModel" >
              <span class="text-danger" *ngIf="project_money?.invalid">Bạn phải nhập số lượng thành viên</span>
          </div>
          <div class="form-group mt-3">
              <label for="">Số thành viên</label>
              <input type="number" name="teamSize" ngModel class="form-control" #teamSize="ngModel" >
              <span class="text-danger" *ngIf="teamSize?.invalid">Bạn phải nhập số lượng thành viên</span>
          </div>
          <div class="d-flex justify-content-end mt-3"> 
              <button [disabled]="project.invalid" type="submit" class="btn btn-primary">Tạo</button>
          </div>
      </div>
  </form>
</div>